/* asset/css/my_css.css */

/*class selection*/
.c_head{
    font-family: cursive;
    color: orange;          /*override the blue color*/
}


/*id selection*/
#i_head{
    color: red;
}

/*element selection*/
p {
    font-variant: small-caps;
    color: blue;
}


/*element selection*/
p {
    color: green;
}


/*attribute selection*/
span[my_id] {   /* select 'span' with attribute 'my_id' */
    color: green;
}


span[my_id=m_span] { /* select 'span' with attribute 'my_id = m_span' */
    color: red;
    font-style: oblique;
    text-shadow:5px 5px 8px red;
}

a:link {color: blue}
a:visited {color: red}
a:hover {color: green}
a:active {color: black}